In [26]:
import requests
from bs4 import BeautifulSoup

r = requests.get('https://www.century21.com/real-estate/brooklyn-ny/LCNYBROOKLYN/')
c = r.content

soup = BeautifulSoup(c, 'html.parser')

all = soup.find_all('div',{'class':'infinite-item'})

In [30]:
l = []

for item in all:
    d = {}
    try:
         d['Address']=item.find('div',{'class':'property-address'}).text.lstrip().strip()
    except:
        pass
        d['Address']=None
    try:
        d['City']=item.find('div',{'class':'property-city'}).text.lstrip().rstrip()
    except:
        pass
        d['City']=None
    try:
        d['Beds']=item.find('div',{'class':'property-beds'}).find('strong').text.lstrip().rstrip()
    except:
        pass
        d['Beds']=None
    try:
        d['Full-Baths']=item.find('div',{'class':'property-baths'}).find('strong').text.lstrip().rstrip()
    except:
        pass
        d['Full-Baths']=None
    try:
        d['Half-Baths']=item.find('div',{'class':'property-half-baths'}).find('strong').text.lstrip().rstrip()
    except:
        pass
        d['Half-Baths']=None
    try:
        d['Area']=item.find('div',{'class':'property-sqft'}).text.lstrip().rstrip()
    except:
        pass
        d['Area']=None
    try:
        d['Price']=item.find('a', {'class': 'listing-price'}).text.replace('\n','').replace(' ','')
    except:
        pass
        d['Price']=None
    l.append(d)
l

[{'Address': '637 B Warwick Street',
  'City': 'E. New York NY 11207',
  'Beds': '8',
  'Full-Baths': '3',
  'Half-Baths': None,
  'Area': None,
  'Price': '$849,000'},
 {'Address': '415 Argyle Rd #7T',
  'City': 'Brooklyn NY 11218',
  'Beds': '1',
  'Full-Baths': '1',
  'Half-Baths': None,
  'Area': None,
  'Price': '$478,000'},
 {'Address': '6 Terrace Place',
  'City': 'Brooklyn NY 11218',
  'Beds': '9',
  'Full-Baths': '4',
  'Half-Baths': None,
  'Area': None,
  'Price': '$2,595,000'},
 {'Address': '454 Jefferson Avenue',
  'City': 'Brooklyn NY 11221',
  'Beds': '5',
  'Full-Baths': '4',
  'Half-Baths': '1',
  'Area': None,
  'Price': '$1,995,000'},
 {'Address': '34 Plaza St E 1207',
  'City': 'Brooklyn NY 11238',
  'Beds': '2',
  'Full-Baths': '2',
  'Half-Baths': None,
  'Area': None,
  'Price': '$1,750,000'},
 {'Address': '429 Kent Avenue 703',
  'City': 'Brooklyn NY 11249',
  'Beds': '2',
  'Full-Baths': '2',
  'Half-Baths': '1',
  'Area': None,
  'Price': '$1,400,000'},
 {'Address': '2275 Ryder Street',
  'City': 'Brooklyn NY 11234',
  'Beds': '8',
  'Full-Baths': '3',
  'Half-Baths': '1',
  'Area': '3,384 sq. ft',
  'Price': '$1,289,000'},
 {'Address': '556 East 86th Street',
  'City': 'Brooklyn NY 11236',
  'Beds': '5',
  'Full-Baths': '4',
  'Half-Baths': '1',
  'Area': '3,196 sq. ft',
  'Price': '$960,000'},
 {'Address': '1326 East 55 Street',
  'City': 'Brooklyn NY 11234',
  'Beds': '5',
  'Full-Baths': '2',
  'Half-Baths': '1',
  'Area': '2,400 sq. ft',
  'Price': '$869,000'},
 {'Address': '81 East 54th Street',
  'City': 'Brooklyn NY 11203',
  'Beds': '3',
  'Full-Baths': '2',
  'Half-Baths': None,
  'Area': None,
  'Price': '$635,000'},
 {'Address': '2052 71st Street',
  'City': 'Brooklyn NY 11204',
  'Beds': '4',
  'Full-Baths': '2',
  'Half-Baths': None,
  'Area': '1,624 sq. ft',
  'Price': '$1,350,000'},
 {'Address': '515-517 Georgia Avenue',
  'City': 'E. New York NY 11207',
  'Beds': None,
  'Full-Baths': None,
  'Half-Baths': None,
  'Area': None,
  'Price': '$1,600,000'},
 {'Address': '6409 11th Ave',
  'City': 'Brooklyn NY 11219',
  'Beds': '3',
  'Full-Baths': '3',
  'Half-Baths': None,
  'Area': '3,100 sq. ft',
  'Price': '$1,595,000'},
 {'Address': '83 Woodhull Street 2',
  'City': 'Carroll Gardens NY 11231',
  'Beds': '2',
  'Full-Baths': '2',
  'Half-Baths': None,
  'Area': None,
  'Price': '$1,299,000'},
 {'Address': '68 Sutton Street',
  'City': 'Greenpoint NY 11222',
  'Beds': '12',
  'Full-Baths': '6',
  'Half-Baths': '1',
  'Area': None,
  'Price': '$1,280,000'},
 {'Address': '408 Saint Johns Place 6-D',
  'City': 'Brooklyn NY 11239',
  'Beds': '3',
  'Full-Baths': '2',
  'Half-Baths': None,
  'Area': None,
  'Price': '$1,150,000'},
 {'Address': '2456 east 71st street',
  'City': 'Brooklyn NY 11234',
  'Beds': '4',
  'Full-Baths': '2',
  'Half-Baths': '1',
  'Area': '2,172 sq. ft',
  'Price': '$980,000'},
 {'Address': '171 Greene Avenue 2',
  'City': 'New York City NY 11238',
  'Beds': '2',
  'Full-Baths': '1',
  'Half-Baths': None,
  'Area': None,
  'Price': '$899,000'},
 {'Address': '171 Greene Avenue 2',
  'City': 'Brooklyn NY 11238',
  'Beds': '2',
  'Full-Baths': '1',
  'Half-Baths': None,
  'Area': '800 sq. ft',
  'Price': '$899,000'},
 {'Address': '2817 Avenue Y',
  'City': 'Brooklyn NY 11235',
  'Beds': '3',
  'Full-Baths': '1',
  'Half-Baths': '1',
  'Area': '2,100 sq. ft',
  'Price': '$885,000'},
 {'Address': None,
  'City': None,
  'Beds': None,
  'Full-Baths': None,
  'Half-Baths': None,
  'Area': None,
  'Price': None}]

In [33]:
import pandas
df = pandas.DataFrame(l)
df = df[:-1]

In [34]:
df

,Address,City,Beds,Full-Baths,Half-Baths,Area,Price
0,637 B Warwick Street,E. New York NY 11207,8,3,None,None,"$849,000"
1,415 Argyle Rd #7T,Brooklyn NY 11218,1,1,None,None,"$478,000"
2,6 Terrace Place,Brooklyn NY 11218,9,4,None,None,"$2,595,000"
3,454 Jefferson Avenue,Brooklyn NY 11221,5,4,1,None,"$1,995,000"
4,34 Plaza St E 1207,Brooklyn NY 11238,2,2,None,None,"$1,750,000"
5,429 Kent Avenue 703,Brooklyn NY 11249,2,2,1,None,"$1,400,000"
6,2275 Ryder Street,Brooklyn NY 11234,8,3,1,"3,384 sq. ft","$1,289,000"
7,556 East 86th Street,Brooklyn NY 11236,5,4,1,"3,196 sq. ft","$960,000"
8,1326 East 55 Street,Brooklyn NY 11234,5,2,1,"2,400 sq. ft","$869,000"
9,81 East 54th Street,Brooklyn NY 11203,3,2,None,None,"$635,000"
10,2052 71st Street,Brooklyn NY 11204,4,2,None,"1,624 sq. ft","$1,350,000"
11,515-517 Georgia Avenue,E. New York NY 11207,None,None,None,None,"$1,600,000"
12,6409 11th Ave,Brooklyn NY 11219,3,3,None,"3,100 sq. ft","$1,595,000"
13,83 Woodhull Street 2,Carroll Gardens NY 11231,2,2,None,None,"$1,299,000"
14,68 Sutton Street,Greenpoint NY 11222,12,6,1,None,"$1,280,000"
15,408 Saint Johns Place 6-D,Brooklyn NY 11239,3,2,None,None,"$1,150,000"
16,2456 east 71st street,Brooklyn NY 11234,4,2,1,"2,172 sq. ft","$980,000"
17,171 Greene Avenue 2,New York City NY 11238,2,1,None,None,"$899,000"
18,171 Greene Avenue 2,Brooklyn NY 11238,2,1,None,800 sq. ft,"$899,000"
19,2817 Avenue Y,Brooklyn NY 11235,3,1,1,"2,100 sq. ft","$885,000"

In [35]:
df.to_csv('Output.csv')